 - laboratorio ML 02

- VENDAS DE INGRESSOS PARA EVENTOS DE IA

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\documents\sueli\repositoriogalinhas\.venv\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\documents\sueli\repositoriogalinhas\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ead\documents\sueli\repositoriogalinhas\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ----- ---------------------------------- 1.6/11.5 MB 9.4 MB/s eta 0:00:02
   ----------- ---------------------------- 3.4/11.5 MB 8.8 MB/s eta 0:00:01
   ----------------- ---------------------- 5.0/11.5 MB 8.9 MB/s eta 0:00:01
   ------------------------ --------------- 7.1/11.5 MB 9.1 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 9.2 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [2]:
import pandas as pd

In [15]:
df = pd.read_csv('datasets/tracking.csv')

In [20]:
df.head()

   inicial  palestras  contato  comprou  patrocinio
0        1          1        0        0           0
1        1          1        0        0           0
2        1          1        0        0           0
3        1          1        0        0           0
4        1          1        0        0           0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   inicial     99 non-null     int64
 1   palestras   99 non-null     int64
 2   contato     99 non-null     int64
 3   comprou     99 non-null     int64
 4   patrocinio  99 non-null     int64
dtypes: int64(5)
memory usage: 4.0 KB

In [22]:
df.describe()

         inicial  palestras    contato    comprou  patrocinio
count  99.000000  99.000000  99.000000  99.000000   99.000000
mean    0.535354   0.404040   0.626263   0.333333    0.050505
std     0.501287   0.493203   0.486257   0.473804    0.220099
min     0.000000   0.000000   0.000000   0.000000    0.000000
25%     0.000000   0.000000   0.000000   0.000000    0.000000
50%     1.000000   0.000000   1.000000   0.000000    0.000000
75%     1.000000   1.000000   1.000000   1.000000    0.000000
max     1.000000   1.000000   1.000000   1.000000    1.000000

In [ ]:
,